### MergeParseIdentity

```csharp
string parseId = "someId";
string token = "someToken";

<%= data.branding.codePrefix %>.IdentityService.MergeParseIdentity(
    parseId,
    token,
    SuccessCallback, FailureCallback);
```

```cpp
const char * parseId = "someId";
const char * token = "someToken";

<%= data.branding.codePrefix %>->getIdentityService()->mergeParseIdentity(
    parseId, token, this);
```

```objective_c
- (void)mergeParseIdentity:(NSString *)parseId
        authenticationToken:(NSString *)token
            completionBlock:(BCCompletionBlock)cb
       errorCompletionBlock:(BCErrorCompletionBlock)ecb
                   cbObject:(BCCallbackObject)cbObject;
```

```java
public void mergeParseIdentity(String parseId, String authenticationToken, IServerCallback callback)
```

```javascript
<%= data.branding.codePrefix %>.identity.mergeParseIdentity = function(parseId, authenticationToken, callback)
```

```cfscript
// N/A
```

<%= partial "partials/jsonBtn" %>

```json-doc
{  
   "data":{  
      "profileId":"f94f7e2d-3cdd-4fd6-9c28-392f7875e9df"
   },
   "status":200
}
```

Merge the profile associated with the provided Parse credentials with the current profile.

NOTE: If using the <%= data.branding.codeWrapper %>, once the merge is complete you should call <a href="#" onclick='window.navigateToTarget("#wrapper-setstoredprofileid");'><code>SetStoredProfileId</code></a> in the <%= data.branding.codeWrapper %> with the profileId returned in the Merge call.

<%= partial(:"partials/servop", :locals => { :service_name => "identity", :operation_name => "MERGE" }) %>

#### Method Parameters
Parameter | Description
--------- | -----------
parseId | The parse ID of the user
authenticationToken | The validated token from Parse (that will be further validated when sent to the <%= data.branding.productName %> service)

#### Status Codes
Code | Name | Description
---- | ---- | -----------
40211 | DUPLICATE_IDENTITY_TYPE | Returned when trying to attach an identity type that already exists for that profile. For instance you can have only one Parse identity for a profile.


