### GetProfileInfoForCredential

```r
{
	"service": "friend",
	"operation": "GET_PROFILE_INFO_FOR_CREDENTIAL",
	"data": {
		"externalId": "profileId",
		"authenticationType": "Facebook"
	}
}
```

<%= partial(:"partials/versionTag", :locals => {
  :version => "3.2.0",
  :newText => "",
  :comingText => ""
}) %>

```objective_c
NSString *externalId = @"profileId";
AuthenticationTypeObjc *authenticationType = [AuthenticationTypeObjc Facebook];
BCCompletionBlock successBlock;      // define callback
BCErrorCompletionBlock failureBlock; // define callback

[[<%= data.branding.codePrefix %> friendService] getProfileInfoForCredential:externalId
         authenticationType:authenticationType
            completionBlock:successBlock
       errorCompletionBlock:failureBlock
                   cbObject:nil];
```

```cpp
const char *externalId = "profileId";
AuthenticationType authenticationType = AuthenticationType::Facebook;


<%= data.branding.codePrefix %>->getFriend()->getProfileInfoForCredential(externalId, authenticationType, this);
```

```csharp
string externalId = "profileId";
AuthenticationType authenticationType = AuthenticationType.Facebook;
SuccessCallback successCallback = (response, cbObject) =>
{
    Debug.Log(string.Format("Success | {0}", response));
};
FailureCallback failureCallback = (status, code, error, cbObject) =>
{
    Debug.Log(string.Format("Failed | {0}  {1}  {2}", status, code, error));
};

<%= data.branding.codePrefix %>.Friend.GetProfileInfoForCredential(externalId, authenticationType, successCallback, failureCallback);
```

```java
String externalId = "profileId";
AuthenticationType authenticationType = AuthenticationType.Facebook;
this; // implements IServerCallback

<%= data.branding.codePrefix %>.getFriend().getProfileInfoForCredential(externalId, authenticationType, this);

public void serverCallback(ServiceName serviceName, ServiceOperation serviceOperation, JSONObject jsonData)
{
    System.out.print(String.format("Success | %s", jsonData.toString()));
}
public void serverError(ServiceName serviceName, ServiceOperation serviceOperation, int statusCode, int reasonCode, String jsonError)
{
    System.out.print(String.format("Failed | %d %d %s", statusCode,  reasonCode, jsonError.toString()));
}
```

```javascript
var externalId = "profileId";
var authenticationType = "Facebook";

<%= data.branding.codePrefix %>.friend.getProfileInfoForCredential(externalId, authenticationType, result =>
{
	var status = result.status;
	console.log(status + " : " + JSON.stringify(result, null, 2));
});
```

```cfscript
var externalId = "profileId";
var authenticationType = "Facebook";
var friendProxy = bridge.getFriendServiceProxy();

var postResult = friendProxy.getProfileInfoForCredential(externalId, authenticationType);
if (postResult.status == 200) {
    // Success!
}
```

<%= partial "partials/jsonBtn" %>

```json-doc
{
    "status": 200,
    "data": {
        "playerName": "",
        "email": null,
        "playerId": "bb05182d-ff0c-4740-ae65-482751e74949",
        "playerSummaryData": {
            "LEVEL": 7
        }
    }
}
```

Retrieves profile information for the specified user.

Does not require the calling user to be a friend of the other user.

<%= partial(:"partials/servop", :locals => { :service_name => "friend", :operation_name => "GET_PROFILE_INFO_FOR_CREDENTIAL" }) %>
#### Method Parameters
Parameter | Description
--------- | -----------
externalId | External identifier.
authenticationType | Associated authentication type. Full list of types can be found <a href="#" onclick='window.navigateToTarget("#appendix-authtypes");'>here</a>.
